Assignment Task 1: Tuple Basics Create a Python tuple containing the names of your favorite fruits. Write a Python program to print each fruit name from the tuple.

In [1]:
fruits = ("Apple","Mango","Orange","Lychee","Star fruit")

In [2]:
fruits

('Apple', 'Mango', 'Orange', 'Lychee', 'Star fruit')

In [4]:
type(fruits)

tuple

In [6]:
fruits[0]

'Apple'

In [7]:
fruits[1]

'Mango'

In [8]:
fruits[2]

'Orange'

In [10]:
fruits[3]

'Lychee'

In [11]:
fruits[4]

'Star fruit'

Assignment Task 2:
Tuple Operations Given two tuples, write a Python program to concatenate them into a single tuple and then find the length of the resulting tuple.

In [15]:
tuple1 = {1,3,5,7,9,11}
tuple2 = {2,4,6,8,10,12}

In [19]:
type(tuple1)

set

In [20]:
type(tuple2)

set

In [18]:
val = tuple1 + tuple2

TypeError: unsupported operand type(s) for +: 'set' and 'set'

Assignment Task 3:
Set Creation Create a Python set containing the first 10 even numbers (2, 4, 6, ...). Write a program to display this set.

In [21]:
val = {2,4,6,8,10,12,14,16,18,20}

In [22]:
val

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

In [23]:
type(val)

set

Assignment Task 4:
Set Operations Given two sets, write a Python program to find the union, intersection, and difference of these sets.

In [25]:
set1 = {3,4,5,6,7,8,9,10}
set2 = {6,7,8,9,10,11,}

In [26]:
set1.union(set2)

{3, 4, 5, 6, 7, 8, 9, 10, 11}

In [27]:
set1.intersection(set2)

{6, 7, 8, 9, 10}

In [28]:
set1.difference(set2)

{3, 4, 5}

Assignment Task 5:
Tuple and Set Conversion Write a Python program that takes a tuple of integers and converts it into a set. Then, find and print the maximum and minimum values from the set.

In [29]:
x = (2,8,4,5,3,6,7,9,10,11,18)

In [30]:
type(x)

tuple

In [31]:
val = set(x)

In [32]:
val

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 18}

In [33]:
type(val)

set

In [34]:
max(val)

18

In [35]:
min(val)

2

Assignment Task 6:
Tuple Immutability Explain the concept of immutability in Python tuples with examples. Discuss why tuples are considered immutable data structures.

** yes Tuple is Immutuable because the we cannot modify or which cannot be changed

In [36]:
tup = (1,2,3,4)

In [37]:
type(tup)

tuple

In [38]:
tup.add(5)

AttributeError: 'tuple' object has no attribute 'add'

In [39]:
tup.remove(1)

AttributeError: 'tuple' object has no attribute 'remove'

** Hence we cannot have any changes in them once they are created

# Assignment Task 7:
Set Operations and Methods Write a Python program that takes a set of numbers and performs the following operations:

Add a new number to the set.

Remove a number from the set.

Check if a specific number is in the set.

Find the size of the set.

In [41]:
n = {1,2,4,6,8,10,12}

In [42]:
n

{1, 2, 4, 6, 8, 10, 12}

In [43]:
n.add(3)

In [44]:
n

{1, 2, 3, 4, 6, 8, 10, 12}

In [45]:
n.remove(4)

In [46]:
n

{1, 2, 3, 6, 8, 10, 12}

In [47]:
8 in n

True

In [48]:
11 in n

False

In [49]:
len(n)

7

Assignment Task 8:
Tuple Slicing Given a tuple of 10 elements, write a Python program to print the elements from the 3rd to the 7th position using slicing.

In [50]:
list1 = [1,2,3,4,4,5,5,6,6]

In [53]:
n = set(list1)

In [54]:
n

{1, 2, 3, 4, 5, 6}

In [57]:
duplicate = len(list1) - len(n)

In [58]:
duplicate

3

Assignment Task 10:
Tuple and Set Combinations Create a tuple containing the names of your friend's favorite movies and a set containing the names of your favorite movies. Write a Python program to find and display common elements (movies that feature your

In [59]:
friend_movies = ("Batman","Julyai","ZNMD","Inception","Insidious","Avengers")

In [61]:
common = set(friend_movies).intersection('my_movies')

In [62]:
common

set()